/* line 1, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/style.scss */
body, html {
  background: url("../bg.png") repeat;
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/style.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: #3a3a3a;
  margin: 150px 0px 50px 0px;
}

/* line 20, ../scss/style.scss */
.container {
  width: 98%;
  margin: 0 auto;
}

/* line 25, ../scss/style.scss */
.head {
  width: 100%;
  text-align: center;
}

/* line 30, ../scss/style.scss */
.links {
  border-top: 1px solid #B6B6B6;
  border-bottom: 1px solid #B6B6B6;
  margin: 0px 2% 10px 2%;
}

/* line 36, ../scss/style.scss */
.links ul {
  text-align: center;
  padding: 3px 6px 3px 6px;
  margin: 10px 0px 10px 0px;
}

/* line 42, ../scss/style.scss */
.links ul a {
  font-family: 'Raleway', sans-serif;
  color: #3a3a3a;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 25px;
  letter-spacing: 2px;
}

/* line 51, ../scss/style.scss */
.links ul a:hover {
  background: #fff;
}

/* line 55, ../scss/style.scss */
.links li {
  display: inline;
  margin: 0px 22px 0px 22px;
}

/* line 63, ../scss/style.scss */
select {
  width: 100%;
  padding: 3px 6px 3px 6px;
}

/* line 68, ../scss/style.scss */
.grid {
  position: relative;
  width: 97%;
  margin: 3px auto;
}

/* line 74, ../scss/style.scss */
.half1 {
  width: 49.8%;
  height: 300px;
  float: left;
  background-image: url("http://i.imgur.com/vw2IiKx.jpg");
  background-size: cover;
}

/* line 82, ../scss/style.scss */
.half2 {
  width: 49.8%;
  height: 300px;
  float: right;
  background-image: url("http://i.imgur.com/vw2IiKx.jpg");
  background-size: cover;
}

/* line 91, ../scss/style.scss */
.grid2 {
  position: relative;
  width: 97%;
  margin: 0 auto;
}

/* line 97, ../scss/style.scss */
.third1 {
  width: 33%;
  height: 300px;
  float: left;
  margin: 4px 4px 0px 0px;
  background-image: url("http://i.imgur.com/Jr75erY.jpg");
  background-size: cover;
}

/* line 106, ../scss/style.scss */
.third2 {
  width: 33%;
  height: 300px;
  float: left;
  margin: 4px 4px 0px 0px;
  background-image: url("http://i.imgur.com/Jr75erY.jpg");
  background-size: cover;
}

/* line 115, ../scss/style.scss */
.third3 {
  width: 33.2%;
  height: 300px;
  float: left;
  margin: 4px 0px 0px 0px;
  background-image: url("http://i.imgur.com/Jr75erY.jpg");
  background-size: cover;
}

@media (max-width: 1070px) {
  /* line 127, ../scss/style.scss */
  .third3 {
    width: 32.8%;
  }
}
@media (max-width: 550px) {
  /* line 133, ../scss/style.scss */
  .half1 {
    width: 100%;
    max-height: 250px;
  }

  /* line 138, ../scss/style.scss */
  .half2 {
    width: 100%;
    margin-top: 4px;
    max-height: 250px;
  }

  /* line 143, ../scss/style.scss */
  .third1 {
    width: 40%;
  }

  /* line 147, ../scss/style.scss */
  .third2 {
    width: 49%;
  }
}
@media (max-width: 750px) {
  /* line 153, ../scss/style.scss */
  .third1 {
    width: 49.8%;
    height: 300px;
    float: left;
    margin: 2px 2px 0px 0px;
    background-image: url("http://i.imgur.com/Jr75erY.jpg");
    background-size: cover;
  }

  /* line 162, ../scss/style.scss */
  .third2 {
    width: 49.8%;
    height: 300px;
    float: left;
    margin: 2px 0px 0px 0px;
    background-image: url("http://i.imgur.com/Jr75erY.jpg");
    background-size: cover;
  }

  /* line 170, ../scss/style.scss */
  .third3 {
    display: none;
  }
}
@media (max-width: 1550px) {
  /* line 177, ../scss/style.scss */
  .container {
    margin: 0 auto;
  }
}
@media (min-width: 1250px) {
  /* line 184, ../scss/style.scss */
  .grid {
    max-height: 320px;
  }
}
@media (min-width: 1350px) {
  /* line 191, ../scss/style.scss */
  .container {
    width: 85%;
  }
}
@media (min-width: 1550px) {
  /* line 199, ../scss/style.scss */
  .container {
    width: 75%;
  }
}
@media (max-width: 800px) {
  /* line 205, ../scss/style.scss */
  .container {
    margin: 0 auto;
  }

  /* line 208, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 8px 0px 8px;
  }

  /* line 213, ../scss/style.scss */
  .links ul a {
    padding: 8px 15px;
  }
}
@media (max-width: 600px) {
  /* line 219, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 6px 0px 6px;
  }

  /* line 224, ../scss/style.scss */
  .links ul a {
    padding: 8px 8px;
  }
}
@media (max-width: 510px) {
  /* line 230, ../scss/style.scss */
  .links ul {
    display: none;
  }

  /* line 234, ../scss/style.scss */
  select {
    display: block;
    height: 50px;
  }
}
@media (min-width: 510px) {
  /* line 241, ../scss/style.scss */
  select {
    display: none;
  }
}
