/* line 1, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/style.scss */
body, html {
  background: url("../bg.png") repeat;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 14, ../scss/style.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: #3a3a3a;
  margin: 150px 0px 50px 0px;
}

/* line 21, ../scss/style.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 26, ../scss/style.scss */
.head {
  width: 100%;
  text-align: center;
}

/* line 31, ../scss/style.scss */
.links {
  border-top: 1px solid #B6B6B6;
  border-bottom: 1px solid #B6B6B6;
  margin: 0px 2% 20px 2%;
}

/* line 37, ../scss/style.scss */
.links ul {
  text-align: center;
  padding: 3px 6px 3px 6px;
  margin: 10px 0px 10px 0px;
}

/* line 43, ../scss/style.scss */
.links ul a {
  font-family: 'Raleway', sans-serif;
  color: #3a3a3a;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 25px;
  letter-spacing: 2px;
}

/* line 52, ../scss/style.scss */
.links ul a:hover {
  background: #fff;
}

/* line 56, ../scss/style.scss */
.links li {
  display: inline;
  margin: 0px 22px 0px 22px;
}

/* line 64, ../scss/style.scss */
select {
  width: 100%;
  padding: 3px 6px 3px 6px;
}

/* line 69, ../scss/style.scss */
section#layer2 {
  margin-bottom: 1%;
  float: left;
  width: 100%;
  margin-top: 20px;
}

/* line 76, ../scss/style.scss */
.home-wrap {
  width: 97%;
  max-width: 1250px;
  margin: auto;
  padding-bottom: 1%;
  border-bottom: 1px solid #DFDFDF;
}

/* line 84, ../scss/style.scss */
.one {
  position: relative;
  width: 32z%;
  float: left;
  margin: 0 .5%;
}

/* line 91, ../scss/style.scss */
.two {
  position: relative;
  width: 33%;
  cursor: pointer;
  float: left;
  margin: 0 .5%;
}

/* line 99, ../scss/style.scss */
.three {
  position: relative;
  width: 33%;
  float: left;
  margin: 0 .5%;
}

/* line 108, ../scss/style.scss */
.masonry {
  background: #EEE;
  max-width: 640px;
}

/* line 113, ../scss/style.scss */
.masonry .item {
  width: 100%;
  height: 60px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* line 123, ../scss/style.scss */
.item.w2 {
  width: 120px;
}

/* line 124, ../scss/style.scss */
.item.w3 {
  width: 180px;
}

/* line 125, ../scss/style.scss */
.item.w4 {
  width: 240px;
}

/* line 127, ../scss/style.scss */
.item.h2 {
  height: 100px;
}

/* line 128, ../scss/style.scss */
.item.h3 {
  height: 130px;
}

/* line 129, ../scss/style.scss */
.item.h4 {
  height: 180px;
}

@media (max-width: 1550px) {
  /* line 133, ../scss/style.scss */
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1350px) {
  /* line 143, ../scss/style.scss */
  .links {
    margin: 0px 5% 0px 5%;
  }
}
@media (min-width: 1550px) {
  /* line 149, ../scss/style.scss */
  .links {
    margin: 0px 9% 0px 9%;
  }
}
@media (max-width: 800px) {
  /* line 155, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 8px 0px 8px;
  }

  /* line 160, ../scss/style.scss */
  .links ul a {
    padding: 8px 15px;
  }
}
@media (max-width: 600px) {
  /* line 166, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 6px 0px 6px;
  }

  /* line 171, ../scss/style.scss */
  .links ul a {
    padding: 8px 8px;
  }
}
@media (max-width: 510px) {
  /* line 177, ../scss/style.scss */
  .links ul {
    display: none;
  }

  /* line 181, ../scss/style.scss */
  select {
    display: block;
    height: 50px;
  }
}
@media (min-width: 510px) {
  /* line 188, ../scss/style.scss */
  select {
    display: none;
  }
}
