/* line 1, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/style.scss */
body, html {
  background: url("../bg.png") repeat;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 14, ../scss/style.scss */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: #3a3a3a;
  margin: 150px 0px 50px 0px;
}

/* line 21, ../scss/style.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 26, ../scss/style.scss */
.head {
  width: 100%;
  text-align: center;
}

/* line 31, ../scss/style.scss */
.links {
  border-top: 1px solid #B6B6B6;
  border-bottom: 1px solid #B6B6B6;
  margin: 0px 2% 10px 2%;
}

/* line 37, ../scss/style.scss */
.links ul {
  text-align: center;
  padding: 3px 6px 3px 6px;
  margin: 10px 0px 10px 0px;
}

/* line 43, ../scss/style.scss */
.links ul a {
  font-family: 'Raleway', sans-serif;
  color: #3a3a3a;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 25px;
  letter-spacing: 2px;
}

/* line 52, ../scss/style.scss */
.links ul a:hover {
  background: #fff;
}

/* line 56, ../scss/style.scss */
.links li {
  display: inline;
  margin: 0px 22px 0px 22px;
}

/* line 64, ../scss/style.scss */
select {
  width: 100%;
  padding: 3px 6px 3px 6px;
}

/* line 69, ../scss/style.scss */
.grid {
  height: 700px;
  margin: 10px 2% 20px 2%;
}

/* line 76, ../scss/style.scss */
.masonry {
  height: 700px;
  background: #EEE;
  width: 100%;
  max-width: 89em;
  margin: 0 auto;
}

/* line 84, ../scss/style.scss */
.masonry .item {
  width: 100%;
  height: 200px;
  float: left;
  background: #D26;
  margin: 2px;
}

/* line 92, ../scss/style.scss */
.item.one {
  width: 33em;
}

/* line 93, ../scss/style.scss */
.item.two {
  width: 15em;
}

/* line 94, ../scss/style.scss */
.item.three {
  width: 30em;
}

/* line 95, ../scss/style.scss */
.item.four {
  width: 330px;
}

/* line 96, ../scss/style.scss */
.item.five {
  width: 280px;
}

/* line 97, ../scss/style.scss */
.item.six {
  width: 460px;
}

/* line 98, ../scss/style.scss */
.item.seven {
  width: 320px;
}

@media (max-width: 1550px) {
  /* line 103, ../scss/style.scss */
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1350px) {
  /* line 113, ../scss/style.scss */
  .links {
    margin: 0px 5% 10px 5%;
  }

  /* line 117, ../scss/style.scss */
  .grid {
    margin: 0px 5% 0px 5%;
  }
}
@media (min-width: 1550px) {
  /* line 123, ../scss/style.scss */
  .links {
    margin: 0px 9% 10px 9%;
  }

  /* line 127, ../scss/style.scss */
  .grid {
    margin: 0px 9% 0px 9%;
  }
}
@media (max-width: 800px) {
  /* line 133, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 8px 0px 8px;
  }

  /* line 138, ../scss/style.scss */
  .links ul a {
    padding: 8px 15px;
  }
}
@media (max-width: 600px) {
  /* line 144, ../scss/style.scss */
  .links li {
    display: inline;
    margin: 0px 6px 0px 6px;
  }

  /* line 149, ../scss/style.scss */
  .links ul a {
    padding: 8px 8px;
  }
}
@media (max-width: 510px) {
  /* line 155, ../scss/style.scss */
  .links ul {
    display: none;
  }

  /* line 159, ../scss/style.scss */
  select {
    display: block;
    height: 50px;
  }
}
@media (min-width: 510px) {
  /* line 166, ../scss/style.scss */
  select {
    display: none;
  }
}
